<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" onclick="javascript:return(false);">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:40</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione GrUSP</a></h4>
        </td>
      </tr>
	  
      <tr class="common_event">
        <td class="time">09:40 &ndash; 9:55</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione xpugRomagna</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">9:55 &ndash; 10:40</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="CSS non è un linguaggio completo, non ha variabili, funzioni, possibilità di annidamento, supporto ai file parziali parziali, possibilità di eseguire calcoli. I preprocessori CSS possono aiutarci a separare meglio il contenuto dallo stile, velocizzare lo sviluppo e ridurre i costi di manutenzione, specialmente per i siti più complessi. Compass ci permette di creare le sprite molto facilmente, eseguire il debug senza problemi grazie alle source maps, e altro ancora. In questo talk introdurrò le principali caratteristiche e vantaggi (e svantaggi) dei preprocessori CSS, parlerò di come installare e utilizzare SASS e Compass, e illustrerò qualche trick avanzato.">Sviluppo CSS Agile con SASS e Compass</a></h4>
            <a href="http://twitter.com/verlok" title="Andrea Verlicchi">Andrea Verlicchi - @verlok</a><br>
            <a href="http://www.slideshare.net/verlok/sviluppo-css-agile-con-sass-e-compass-css-day-2015-faenza" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657735" class="video">video</a>
        </td>
      </tr>

      <tr class="break">
        <td class="time">10:40 &ndash; 10:55</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:55 &ndash; 11:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="Nonostante il titolo, questa sessione non tratta solo di Internet Explorer, ma vi farà scoprire uno strumento che vi aiuterà a far emergere e correggere problemi di compatibilità tra browser. Come posso sapere, ad esempio, se il mio sito ha usato tutti i css prefix in modo corretto per assicurare la maggior compatibilità? Come posso testarlo su diversi device iOS, Android, Windows e persino con vecchie versioni di IE?">Modern IE con CSS Tips & Tricks</a></h4>
            <a href="http://twitter.com/pietrobr" title="Pietro Brambati">Pietro Brambati - @pietrobr</a><br>
            <a href="http://www.slideshare.net/pietrobr/modern-ie-css-day-2015" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657736" class="video">video</a>
        </td>
      </tr>


      <tr class="common_event">
        <td class="time">11:30 &ndash; 12:15</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Durante il talk spiegherò quali sono i vantaggi che vedo sul testing CSS.
                   - Preprocessori LESS e SASS per testing (prefissi browser, fallback, unità ottimizzate)
                   - Introduzione a CSSlint e quali vantaggi porta utilizzarlo (pros: crossbrowser, retrocompatibilità, ottimizzazione css, configurabilità, cons: tempi di setup, budget)
                   - Introduzione a PhantomCSS (pros: consistenza stili, widget e viste tema)
                   - Automatizzare testing (grunt, CSSlint, PhantomCSS, introduzione veloce)">CSS a prova di test</a></h4>
            <a href="http://twitter.com/vttrx" title="Vittorio Vittori">Vittorio Vittori - @vttrx</a><br>
            <a href="http://www.slideshare.net/vittoriovittori/testproof-css" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657738" class="video">video</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">12:20 &ndash; 12:50</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="Tabelle e stili inline. Chiunque si trovi ad occuparsi di email design è costretto a fare un viaggio nel tempo, ritrovandosi improvvisamente alla fine degli anni 90. Client di posta ostinati, webmail e device mobili rendono la vita un inferno. Viaggio all'interno delle problematiche e delle possibilità di uso dei CSS nell'email design, con un occhio ai possibili sviluppi e piedi e mani nella realtà di tutti i giorni (con un focus specifico sulla realtà webmail italiana).">CSS & Email Design. Realtà e prospettive.</a></h4>
            <a href="http://twitter.com/morloi" title="Alessandro	Grazioli">Alessandro	Grazioli - @morloi</a><br>
            <a href="http://www.slideshare.net/VOXmail/cssday-2015-css-email-design-realt-e-prospettive" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657741" class="video">video</a>
        </td>
      </tr>

      <tr class="break lunch">
      <td class="time">12:50 &ndash; 14:00</td>

        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:05 &ndash; 14:35</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Se la specificità dei selettori non ti fa dormire, oppure se la notte sogni classi che si sovrascrivono all'infinito, allora è arrivato il momento di riorganizzare il tuo metodo di lavoro e iniziare a scrivere codice mantenibile. Questo talk è un breve viaggio tra le metodologie più in voga e le best practice che possono essere applicate nel mondo enterprise ma anche nei piccoli progetti.">Scrivere codice CSS e dormire tranquilli</a></h4>
            <a href="http://twitter.com/nicoladm79" title="Nicola	Della Marina">Nicola Della Marina - @nicoladm79</a><br>
            <a href="http://www.slideshare.net/nicoladellamarina/scrivere-codice-css-e-dormire-tranquilli">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657746" class="video">video</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">14:40 &ndash; 15:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="In base alla maturità, tipologia e dimensione di un progetto i workflow di design e sviluppo possono cambiare. Una delle tecniche più 'breakthrough' dei workflow è quella delle styleguide.
            Cosa sono (e cosa non sono)? Come si usano? Come si progettano? Quali sono i pro e i contro? Serve per forza BEM?">Creare e manutenere una styleguide</a></h4>
            <a href="http://twitter.com/Fabbrucci" title="Fabio	Fabbrucci">Fabio	Fabbrucci - @Fabbrucci</a><br/>
            <a href="http://www.slideshare.net/fabio.fabbrucci/styleguidepresentation" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127662616" class="video">video</a>
        </td>
      </tr>


        <tr class="common_event">
            <td class="time">15:30 &ndash; 16:00</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Nell'era in cui la progettazione delle interfacce deve partire dal mobile, l'ossessione per gli effetti di hover deve passare in secondo piano.
                    Presenterò problemi e soluzioni per tutta una serie di aspetti che sono curati eccessivamente nello sviluppo css nelle interfacce moderne">Hover is dead, wake up!</a></h4>
                <a href="http://twitter.com/j8matteo" title="Matteo	Guidotto">Matteo	Guidotto - @j8matteo</a><br/>
                <a href="http://www.slideshare.net/MatteoGuidotto/hover-is-dead-wake-up-faenza-cssday-2015-46349025" class="slides">slides</a>
                - <a href="https://vimeo.com/channels/italiancssday/127662617" class="video">video</a>
            </td>
        </tr>


      <tr class="break">
        <td class="time">16:00 &ndash; 16:15</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>


        <tr class="common_event">
            <td class="time">16:15 &ndash; 16:45</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Spesso chi lavora in ambito front-end tende a sottovalutare l'importanza di un workflow di lavoro strutturato che copra la fase di progettazione, realizzazione e pacchettizzazione di un design CSS. Questo perché spesso passare qualche ora senza far codice sembra essere una perdita di tempo.
                    In questo talk esporrò un workflow, per certi versi opinionato, che spazia dalle tecniche di normalizzazione delle grafica e progettazione OOCSS fino alla scelta degli strumenti da adottare in fase di sviluppo e build (preprocessori, linters ecc); il tutto per garantire affidabilità e manutenibilità del codice senza perdere la salute e litigare con il grafico.">CSS workflow for grown-ups</a></h4>
                <a href="http://twitter.com/@dwightjack" title="Marco Solazzi">Marco	Solazzi - @dwightjack</a><br>
                <a href="https://speakerdeck.com/dwightjack/css-workflow-for-grown-ups" class="slides">slides</a>
                - <a href="https://vimeo.com/channels/italiancssday/127662618" class="video">video</a>
            </td>
        </tr>


      <tr class="common_event">
        <td class="time">16:50 &ndash; 17:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Se CSS sta diventando uno strumento sempre più semplice ed espressivo, mantenere un foglio di stile pulito e ben manutenibile è ancora oggi una grossa sfida. Se non viene ben gestita, la cascata, ovvero la 'C' di CSS, può rendere davvero complicato evolvere o introdurre nuovi componenti di un'interfaccia web. Questo talk esplorerà i metodi e le maniere per tenere sotto controllo la gerarchia dei selettori, e mantenere il codice flessibile e modulare senza rinunciare ai vantaggi e alla potenza della Cascata.">NIAGARA! - ovvero un manuale pratico per sopravvivere alla cascata</a></h4>
            <a href="http://twitter.com/matteomced" title="Matteo	Cavucci">Matteo	Cavucci - @matteomced</a><br>
            <a href="http://www.slideshare.net/magicodeselegantdesign/niagara-a-practical-guide-to-surviving-the-css" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127662619" class="video">video</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:30</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
